@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}
body {
  /* background: #18191a; */
  overflow: hidden;
  background-image: url(./static/pexels-felix-mittermeier-956981.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  position: absolute;
  top: 27%;
  left: 50%;
  font-size: 100px;
  transform: translate(-50%, -50%);
  color: white;
}
.main {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* search bar */
.main .search_bar {
  width: 600px;
  background: #242526;
  border-radius: 5px;
  color: white;
  padding: 0 15px;
  display: flex;
}
.main input {
  flex-grow: 1;
  color: white;
  line-height: 45px;
  background: #242526;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 500;
}
.main .search_bar span {
  margin-left: auto;
  line-height: 45px;
  font-size: 22px;
  cursor: pointer;
}

.main .search_bar.active {
  border-radius: 20px 20px 0 0;
}
.main .search_bar span:nth-of-type(1) {
  padding-right: 12px;
  color: white;
}

.main .search_bar span:nth-of-type(2) {
  border: 0.01px solid rgb(238, 234, 234);
  opacity: 0.5;
  color: white;
  height: 35px;
  margin: 8px 0;
}

.main .search_bar span:nth-of-type(3) {
  padding-left: 15px;
}
/* search bar */

/* drop down */
.main .tooltip {
  position: absolute;
  right: 20px;
  bottom: -20px;
  height: 15px;
  width: 15px;
  background: #242526;
  transform: rotate(45deg);
  display: none;
}
.main .tooltip.show {
  display: block;
}
.main .wrapper {
  position: absolute;
  top: 62px;
  display: flex;
  width: 600px;
  overflow: hidden;
  border-radius: 5px;
  background: #242526;
  display: none;
  transition: all 0.3s ease;
}
.main .wrapper.show {
  display: block;
}
.wrapper ul {
  width: 600px;
  list-style: none;
  padding: 10px 0;
  transition: all 0.3s ease;
}
.wrapper ul li {
  line-height: 45px;
  position: relative;
  color: white;
  font-size: 18px;
  padding: 0 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.wrapper ul li span.search-text {
  width: 520px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wrapper li .delete-icon {
  position: absolute;
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
  background: #e74c3c;
  width: 45px;
  height: 45px;
  text-align: center;
  justify-content: center;
  display: flex;
  color: #fff;
  overflow: auto;
  padding: 10px 0 13px 0;
  border-radius: 3px 0 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.wrapper li .delete-icon i {
  line-height: 35px;
  font-size: 17px;
  color: white;
}
.wrapper li:hover .delete-icon {
  right: 0px;
}

.wrapper ul li:hover {
  background: #3a3b3c;
}
ul li .icon {
  height: 40px;
  width: 40px;
  margin-right: 13px;
  background: #ffffff1a;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  overflow: auto;
}
ul li .icon span {
  line-height: 40px;
  font-size: 20px;
  color: white;
}
/* drop down */

/* search suggest */
.main .autocom-box {
  position: absolute;
  top: 51px;
  width: 600px;
  overflow: hidden;
  border-radius: 0 0 20px 20px;
  background: #242526;
  display: none;
  transition: all 0.3s ease;
}

.autocom-box ul {
  width: 600px;
  list-style: none;
  padding: 5px 0;
  transition: all 0.3s ease;
}

.autocom-box ul li {
  line-height: 45px;
  position: relative;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.autocom-box ul li span.search-text {
  width: 520px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.autocom-box ul li:hover {
  background: #3a3b3c;
  border-left: 5px inset;
}

.main .autocom-box.active {
  display: block;
}
/* search suggest */
